@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
   background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
   font-size: 100%;
}
.cabecalho {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 24px;
}
.cabecalho_imagem {
   height: 72px;
}
.cabecalho_menu {
   display: flex;
   gap: 32px;
}
.cabecalho_menu_items {
   font-family: 'Sarala';
   font-weight: 400px;
   font-size: 18px;
   color: #FFF2E7;
}
.conteudo {
   margin-bottom: 48px;
   border-top: 0.4px solid #FFF2E7;
}
.conteudo-principal {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
.conteudo-principal-escrito {
   display: flex;
   flex-direction: column;
   gap: 32px;
}
.conteudo-principal-titulo {
   font-family: 'Righteous';
   font-weight: 400;
   font-size: 64px;
   color: #FFF2E7;
}
.conteudo-principal-subtitulo {
   font-family: 'Sarala';
   font-weight: 400;
   font-size: 24px;
   color: #ECD6C4;
}
.conteudo-principal-escrito-botao {
   background-color: #ECD6C4;
   width: 187px;
   height: 60;
   border: none;
   box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   font-family: 'Sarala';
   font-weight: 400;
   font-size: 24px;
   color: #2F2325;
   padding: 15px;
}
.conteudo-principal-imagem {
   height: 430px;
}
